#reemplazar en application.properties por los valores de este archivo .env

DB_URL=#jdbc:sqlserver://DESKTOP-SPCH0FF:1433;databaseName=TiendaHYM;encrypt=true;trustServerCertificate=true#
DB_USERNAME=#usuario#
DB_PASSWORD=#contraseña#