# Copia este archivo como .env y reemplaza los valores con los tuyos

DB_URL=jdbc:sqlserver://localhost:1433;databaseName=TiendaHYM;encrypt=true;trustServerCertificate=true
DB_USERNAME=usuario
DB_PASSWORD=contraseña