USE [master]
GO
/****** Object:  Database [TiendaHYM]    Script Date: 9/08/2026 21:22:40 ******/
CREATE DATABASE [TiendaHYM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TiendaHYM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TiendaHYM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TiendaHYM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TiendaHYM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TiendaHYM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TiendaHYM]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 9/08/2026 21:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[apellido] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[password_hash] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleFactura]    Script Date: 9/08/2026 21:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_factura] [int] NULL,
	[id_producto] [int] NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 9/08/2026 21:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NULL,
	[fecha] [datetime] NULL,
	[total] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 9/08/2026 21:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/08/2026 21:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[descripcion] [nvarchar](200) NULL,
	[precio] [decimal](10, 2) NULL,
	[id_talla] [int] NULL,
	[img_producto] [nvarchar](200) NULL,
	[id_genero] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Talla]    Script Date: 9/08/2026 21:22:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talla](
	[id_talla] [int] IDENTITY(1,1) NOT NULL,
	[talla] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_talla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id_cliente], [nombre], [apellido], [telefono], [email], [password_hash]) VALUES (1, N'nombrePrueba', N'apellidoPrueba', N'995672932', N'correoPrueba@gmail.com', N'123')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([id_genero], [nombre]) VALUES (1, N'hombre')
INSERT [dbo].[Genero] ([id_genero], [nombre]) VALUES (2, N'mujer')
INSERT [dbo].[Genero] ([id_genero], [nombre]) VALUES (3, N'ninos')
SET IDENTITY_INSERT [dbo].[Genero] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id_producto], [nombre], [descripcion], [precio], [id_talla], [img_producto], [id_genero]) VALUES (1, N'Sobrecamisa en tejido waffle Regular Fit', N'Sobrecamisa en punto waffle con cuello, botones adelante y bolsillos superiores abiertos', CAST(142.99 AS Decimal(10, 2)), 2, N'/img/hombre1.png', 1)
INSERT [dbo].[Producto] ([id_producto], [nombre], [descripcion], [precio], [id_talla], [img_producto], [id_genero]) VALUES (2, N'Sobrecamisa en tejido waffle Regular Fit', N'Sobrecamisa en punto waffle con cuello, botones adelante y bolsillos superiores abiertos', CAST(132.99 AS Decimal(10, 2)), 2, N'/img/hombre2.png', 1)
INSERT [dbo].[Producto] ([id_producto], [nombre], [descripcion], [precio], [id_talla], [img_producto], [id_genero]) VALUES (3, N'Pantalón de twill Relaxed Fit', N'Pantalón en twill cepillado suave con elástico revestido y cordón de ajuste oculto en la cintura', CAST(122.99 AS Decimal(10, 2)), 2, N'/img/hombre3.png', 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Talla] ON 

INSERT [dbo].[Talla] ([id_talla], [talla]) VALUES (1, N'S')
INSERT [dbo].[Talla] ([id_talla], [talla]) VALUES (2, N'M')
INSERT [dbo].[Talla] ([id_talla], [talla]) VALUES (3, N'L')
SET IDENTITY_INSERT [dbo].[Talla] OFF
GO
ALTER TABLE [dbo].[Factura] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([id_factura])
REFERENCES [dbo].[Factura] ([id_factura])
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FKs1vkgwvkxrt5hrmt0c50auyug] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FKs1vkgwvkxrt5hrmt0c50auyug]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([id_genero])
REFERENCES [dbo].[Genero] ([id_genero])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([id_talla])
REFERENCES [dbo].[Talla] ([id_talla])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FKs3tb930kdyk9071njiex7b7j2] FOREIGN KEY([id_talla])
REFERENCES [dbo].[Talla] ([id_talla])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FKs3tb930kdyk9071njiex7b7j2]
GO
USE [master]
GO
